body {
  font-size: 10px;
}

p {
  text-align: center;
  font-family: PT Sans;
  font-size: 2.0em;
  line-height: 1.5;
  text-decoration: underline;
}

h1 {
  text-align: right;
  font-family: Poiret One;
  /*font-size:  px em % */
  font-size: 5.0em;

}

span.double {
  font-size: 2.0em;
  font-weight: bold;
}
