img {
  margin: 1.66%;
  float: left;
  width: 30%;
  filter: grayscale(100%);
}
img:hover {
  filter: grayscale(0%);
}

p {
  font-family: Raleway;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 600;
  font-variant: small-caps;
  border-bottom: 2px solid #F1f1f1;
  width: 30%;
  padding-bottom: 20px;
}
