body {
  text-align: center;
}

table {
margin: auto;

}

td {
  width: 100px;
  height: 100px;
  margin: 0;

}

.middleCol {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
/*.middleSquare {
  border-width: 1px 1px 1px 1px;
  border-color: black;
  border-style: solid;
}*/

.middleRow {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}
